# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

/.project
/.settings/org.eclipse.jdt.groovy.core.prefs
/batch/batch_params.xml
/batch/ReadMe.txt
/data/ReadMe.txt
/docs/index.html
/docs/ReadMe.txt
/freezedried_data/ReadMe.txt
/icons/model.bmp
/icons/model.png
/icons/ReadMe.txt
/installer/installation_components.xml
/installer/installation_coordinator.xml
/installer/shortcuts_Windows.xml
/installer/shortcuts_Xnix.xml
/installer/splash_screen.png
/installer/start_model.bat
/installer/start_model.command
/integration/ReadMe.txt
/launchers/Batch repastSocialForce Model.launch
/launchers/Build Installer for repastSocialForce Model.launch
/launchers/ReadMe.txt
/launchers/repastSocialForce Model.launch
/lib/ReadMe.txt
/MessageCenter.log4j.properties
/model_description.txt
/Repast.settings
/.classpath
/velocity.log.1
/data/buildings_roads_coords_cache.serialised
/data/single_road_data/*
/data/multi_road_data/*
/debug.log.1
